.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #e57d7d;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #a7a9dd;
}
.container{
    background-color: #a7a9dd;
    margin :100px;
    width: 400px;
    height: 400px;
}
.innerbox{
    background-color: #e57d7d;
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 10px dashed #050623
}